<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="equipe.css">
<link rel="stylesheet" type="text/css" href="burger.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Equipe</title>
</head>
<body>
<nav class="nav-main">
			<ul>
				<li data-target="gestion" class="btn-menu btn-hamburger"><p>Gestion d'équipe</p></li>
				<li data-target="transfert" class="btn-menu btn-hamburger"><p>Transfert</p></li>
				<li data-target="matchs" class="btn-menu btn-hamburger"><p>Matchs</p></li>
			</ul>
		</nav>
<div class="container">
	<div class="row">	
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<h1>Equipe</h1>
	</div>
	<div class="col-xs-3">
	<img class="logo"src="https://upload.wikimedia.org/wikipedia/fr/e/e9/Logo_Stade_Rennais_FC.svg">
	</div>
			
	<div class="row">
		<div class="col-xs-3">Menu</div>
		<div class="col-xs-6"><p>Score</p></div>
		<div class="col-xs-3">Budget</div>
	</div>
	<div class="row">
		<div class="col-xs-9">Joueurs</div>
		<div class="col-xs-1">F</div>	
		<div class="col-xs-1">T</div>	
		<div class="col-xs-1">V</div>			
	</div>
		
			
		
	</div>
</div>

<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</body>
</html>