<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Selection</title>
	<link rel="stylesheet" type="text/css" href="burger.css">
	<link rel="stylesheet" type="text/css" href="selection.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="nav-main">
	<ul>
		<li data-target="gestion" class="btn-menu btn-hamburger"><p>Gestion d'équipe</p></li>
		<li data-target="transfert" class="btn-menu btn-hamburger"><p>Transfert</p></li>
		<li data-target="matchs" class="btn-menu btn-hamburger"><p>Matchs</p></li>
	</ul>
</nav>
<br>
	<div class="titre">Football Manajoueur</div>
	<br>
	

	<div class="container">
	<div class="row">
		<div class="texte">Selectionnez une équipe :</div>
	</div>
	<br>
	<br>
	<br>
		<div class="row">
			<div class="col-xs-4">
				<div class="Stade_Rennais">Stade Rennais</div>
					<img class="logo"src="https://upload.wikimedia.org/wikipedia/fr/e/e9/Logo_Stade_Rennais_FC.svg">
			</div>
			<div class="col-xs-4">
				En Avant Guigamp
			</div>
			<div class="col-xs-4">
				Paris Saint Germain
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-xs-4">
				Olympique Lyonnais
			</div>
			<div class="col-xs-4">
				AS Monaco
			</div>
			<div class="col-xs-4">
				Olympique De Marseille
			</div>
		</div>
	</div>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>