
.titre{
	text-align : center;
	font-size: 40px;
	font-weight: bold;
}


.col-xs-4{
	text-align: center;
	background-color: pink;
	border-radius: 15px 50px;
}

.club{
	text-align: left;
	margin-top: 10px;
	margin-left: 50px;
	font-weight: bold;
	align-content: left;


}
.php{
	text-align: left;
	margin-top: 10px;
	margin-left: 50px;
	align-content: left;


}
.logo{
	text-align: right;
	width: 100px;
	margin-left: 200px;
	margin-bottom: 20px;
	height: 100px;
}
.logoeag{
	text-align: right;
	width: 100px;
	margin-left: 200px;
	margin-bottom: 20px;
	height: 100px;
}

